* { /* Se resetean los stilos globales para empezar desde cero */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif; 
}
body { /* Estilos de body */
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos especificos */

#login, #signup { /* Estilos del panel Login y signup */
    background: aliceblue;
    width: 20em;    
    padding: 1em;
    border-radius: 1em;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
    p { 
        margin-top: 0.5em;
    }
}
#signup.hidden { /* Se usa la animacion cuando la clase hidden esta activa, para manipularlo con JS */
    animation: out 0.25s forwards;
}
#login.hidden { /* Se usa la animacion cuando la clase hidden esta activa, para manipularlo con JS */
    animation: out 0.25s forwards;
}

@keyframes out { /* Animacion que se encarga de desaparecer el contenido */
    100% {
        display: none;
        opacity: 0;
    }
}

.go { /* Estilos del boton Go */
    padding: 0.4em;
    width: 5em;
    margin-top: 0.5em;
    background: purple;
    color: aliceblue;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 1em;
    user-select: none;
    cursor: pointer;
}
input { /* Estilos de los inputs de login y signup */
    padding: 0.5em 0.7em 0.5em 0.7em;
    width: calc(100% - 10%);
    border: 1px solid transparent;
    border-radius: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    outline: none;
}
input + input { /* Se utiliza solo cuando estan juntos para no crear espacios innesesarios */
    margin-top: 0.7em;
}
.icons { /* Estilos del contenedor de los iconos */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    gap: 10px;

    button { /* botone de 'tambien' */
        border: 1px solid transparent;
        border-radius: 4px;
        background: white;
        padding: 3px;
        cursor: pointer;
    }
}
.tambien { /* Estilos del article con clase 'tambien' */
    color: rgb(31, 30, 30);
}
.fa-brands { /* Estilando los Iconos */
    font-size: 1.2rem;
}
#login-btn, #signup-btn { /* Estilos de botones para cambiar entre login y signup */
    background: transparent;
    border: none;
    color: blueviolet;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
#forget { /* Estilos para 'olvidaste tu contraseña' */
    color: gray;
    text-decoration: none;
    margin-top: 0.4em;
}
#signup { /* Estilos para que por defecto se muestre solo el panel de login */
    display: none;
}
